* {
   -fx-primary : #2A2E37;
    -fx-secondary : #FFFF8D;
    -fx-primarytext : #B2B2B2;
    -fx-primary-border : #8793a9;

}
.root
{
    -fx-background-color: -fx-primary;
}

.button{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 12pt;
}
.button:hover{
    -fx-text-fill: -fx-primary;
    -fx-background-color: -fx-secondary;
    -fx-border-color: -fx-primary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 12pt;
}

.borderTopIcons
{
    -fx-background-color: transparent;
}

.label
{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 12pt;
}
.radio-button
{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 12pt;
}